<section>
  <header>
    <h1> TA-DA! </h1>
  </header>
  <article>
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Tutorial", '#' %></li>
      <li><%= link_to "New Project", '#'%></li>
      <li><%= link_to "My Page", '#' %></li>
    </ul>
    <div class = "search-project">
      <%= form_tag root_path, :method=> :get do %>
        <%= text_field :search, :label, "placeholder" => "검색어를 입력하세요"%>
      <% end %>
    </div>
  </ariticle>

</section>
